
<div id="app-wrapper">
  <div id="top-section">
    <h1 id="title"> Welcome to TinyTrello! </h1>
  </div>
  <div id="bottom-section">
    <h2 id="lists-title"> Lists </h2>
    <div id="lists-container">

      {{#each model as |list idx|}}
        <div class="list">
          {{todo-list todoList=list title=list.title listIdx=idx delete=(action "deleteTodo")}}
        </div>
      {{/each}}
      <a {{action "addList"}}>Add a list...</a>

    </div>
  </div>
</div>

{{outlet}}