
<div id="app-wrapper">
  <div id="top-section">
    <h1 id="title"> Welcome to TinyTrello! </h1>
  </div>
  <div id="bottom-section">
    <h2 id="lists-title"> Lists </h2>
    <div id="lists-container">

      {{#each model as |list idx|}}
          {{todo-list todoList=list title=list.title listIdx=idx delete=(action "deleteTodo")}}
      {{/each}}
      <a class="add-list hover"{{action "addList"}}>Add a list...</a>

    </div>
  </div>
</div>

{{outlet}}